.container {
    width: 360px;
    height: 700px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(#000000 0%, #bb2c33 90%);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.541);
    background-blend-mode: screen;
    transition: opacity 0.5s ease;
}


.carousel {
    position:relative
}

.carousel ul{
    list-style-type: none;
}

.carousel__track-container {
    height: 100%;
    position:relative;
    overflow:hidden;

}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style:none;
    position:relative;
    height: 100%;
    transition: transform 0.3s ease;
}

.carousel__slide {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    height: 100%; /* Ensure the slide takes full height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}


.carousel__slide p {
    margin: 0;
    padding: 0;
    white-space: normal; /* Ensures text wraps normally */
    overflow-y: auto; /* Allows vertical scroll if text is too long */
    max-height: 90%; /* Constrains the maximum height */
    text-overflow: ellipsis; /* Adds ellipsis if text is too long */
    width: 100%; /* Ensure the text container takes full width */
    text-align: center; /* Center align the text */
}

.carousel__slide.hidden p {
    max-height: 150px; /* Restrict the height for the second slide */
    overflow-y: auto; /* Allows vertical scroll if text is too long */
}

.carousel__slide:nth-child(2) p {
    max-height: 600px; /* Restrict the height for the second slide */
    max-width: 700px; /* Restrict the width for the second slide */
    overflow-y: auto; /* Allows vertical scroll if text is too long */
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.carousel__button {
    transform: translateY(-50%);
    background:transparent;
    border:0;
    cursor:pointer;
    top:50%;
}

.carousel__button--left {
    position:absolute;
    left: -70px;
    top:50%;
}

.carousel__button--right {
    position: absolute;
    left: 600px;
    top:50%;
}

.carousel__button img {
    width:30px;
}

.carousel__nav {
    display:flex;
    justify-content:center;
    position:relative;
    padding: 10px 0;
}

.carousel__indicator {
    border:0;
    border-radius:50%;
    width:8px;
    height:8px;
    background: rgba(255,255,255,0.3);
    margin: 0 5px;
}

.carousel__indicator.current-slide{
    background: rgb(255, 0, 0);
    opacity: 1; /* Show the current slide */
    z-index: 1; /* Foreground */
    transform: translateX(0); /* Position in view */
  }

.carousel__slide.previous-slide {
    transform: translateX(-100%); /* Move out to the left */
}

.carousel__slide.next-slide {
    transform: translateX(100%); /* Move out to the right */
}

.hidden {
    display:none;
}